.vscode
terraform/.idea
terraform/Bosh_GCP/.terraform
terraform/Infra_Create_AWS/.terraform
.idea
react-projects\.idea
terraform/Bosh_GCP/credentials.json
terraform/Bosh_GCP/terraform.tfstate.backup
terraform/Bosh_GCP/terraform.tfstate